<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Edit user</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/user}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <input type="hidden" th:field="*{dateCreated}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">First name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Created:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.dateCreated}">Created:</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last modified:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.lastUpdated}">Modified:</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Select Role</label>
                <div class="col-sm-2">
                    <th:block th:each="role: ${roles}">
                        <input type="checkbox" name="selectedRoles" th:value="${role.id}"/>
                        <label th:text="${role.role}">
                        </label>
                    </th:block>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
